@import '~@src/styles/variables'


$btnFontSize = 1.7rem

.location-map {
    height 100vh
    width: 100vw
    .location-tip-btn {
        position fixed
        bottom: 1rem 
        right:  1rem
        text-align: center
        display: block
        height 2rem
        // width: 2rem
        margin: .5rem
        padding: .5rem;
        background: rgba(255,255,255,.9);
        border-radius: 12%
        box-shadow: 0 3px 10px -4px $primaryColor
        line-height: 2rem
        color $primaryColor
        font-size: .9
        }
    }
