@import './variables';
@import './box';
@import './text';
@import './position';
@import './tran';
@import './btn';
@import './wx-components';

$imgStandardSize = 5rem
.radio-size {
    font-size: 10px
    }
.bottom-btn {
    position fixed
    bottom 3rem
    left 0 
    right 0 
    margin auto
    }
.search-input {
    border solid 1px $grey;
    border-radius: 2rem
    // width: 100%
    padding: .5rem 1rem
    margin: .3rem 0
    }


.image {
    height $imgStandardSize
    width:  $imgStandardSize
    border-radius: .1rem
    }
.hidden {
    visibility hidden
    }

.tab_bar__bottom {

     margin-bottom 3rem

    }

.bottom-line 
    padding-bottom: .5rem
    border-bottom: $bottomLine
.active:active {
    opacity .7
    }
.form-input {
    padding: .3rem 0
    color: #666
    text-align: left 
    }
.form-input:placeholder{
    color: $lightGrey
    }
.add-img {
    height $imgStandardSize
    width:  $imgStandardSize
    line-height: $imgStandardSize
    font-size: 1.5rem
    border: solid 1px $lightGrey
    border-radius: .1rem
    color: $lightGrey
    }