
// @import '~@src/styles/variables'


$bodyBgColor = #f4f4f4

$cardBgcolor = #fefefe
$cardRaduis = .4rem
$cardTitleFontColor = #53515c
$cardTipFontColor = #979797
$cardBoxShadow = 0 0 7px -4px  $bodyBgColor

$primaryColor = #14d1b5
$secondaryColor = #15b7a0

$navTitleFontColor = #b8f5f0

$lightBlue = #3B8EF4
$lightOrange = #f89252