
@import '~@src/styles/variables'

$btnPadding = .4rem
.btn {
    margin: 0.2rem 1rem;
    padding: $btnPadding;
    font-size: 30rpx;
    letter-spacing: 2px
    border-radius: 7rpx;
    text-align: center;

    }
.btn:active{
    opacity .7
    }
.primary-btn {
    background: $primaryColor
    color: #fff;
    }
.flat-btn {
    background: #fff
    color: $primaryColor;
    border: solid $lightGrey 1px
    }
.circle-btn {
    // background: $primaryColor
    // color: $primaryColor;
    border-radius: 1rem;
    padding: .5rem 1rem;
    } 