@import '~@src/styles/variables'
page {
    background: $bodyBgColor;
}

.userinfo-con {
    height 20vh
    background: $primaryColor
    color #fff  
    .header {
        height 15vh
        width: 15vh
        overflow:hidden;
        display:block
        border-radius: 50%
        box-shadow: 0 10px 10px 5px #fff
        }
    .nickname {
        font-size: 2rem
        margin: 0 .5rem
        } 
 
    }
   .fold-btn {
       width: 2rem
       height 2rem
       border-radius: 50%
       line-height 2rem
    //    text-align: left 
       }
   .mine-item {
        font-size: 1rem
        color: $cardTipFontColor
        padding: 1rem;
        background: #fff;
        .mine-item-label{
            padding-left: 1rem
        }
        }
    